<<<<<<< HEAD
=======
.second-chilren-router-wrapper-add-blog{
    width: 100%;
    height: 100%;
    /* background: tan; */
    overflow-y: auto;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* .second-chilren-router-wrapper-add-blog .second-chilren-router-right-wrapper{
    overflow-x: auto;
    overflow-y: hidden;
} */

>>>>>>> develop
.sec-router-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 发布博客选择表单 */
<<<<<<< HEAD
.select-add-option-wrapper{
    width: 90%;
=======
.back-to-blog-list-wrapper{
    width: 100%;
    height: 100px;
    /* background: tomato; */
}
.back-to-blog-list-wrapper button.el-button{
    height: 40px;
    line-height: 40px;
    padding: 0;
    width: 50%;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
}
.back-to-blog-list-wrapper button a{
    color: #fff;
    display: block;
    font-size: 1.15em;
    width: 100%;
    height: 100%;;
}
.select-add-option-wrapper{
    width: 90%;
    min-width: 400px ;
>>>>>>> develop
    height: auto;
    padding: 10px 0 0;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, .3);
<<<<<<< HEAD
    margin: 50px auto;
=======
    margin: 30px auto;
>>>>>>> develop
    line-height: 40px;
}
.select-add-option-wrapper .el-form-item{
    line-height: 40px;
    height: 40px;
    /* background: tomato; */
}
.select-add-option-wrapper .el-select{
    width: 100%;
}
.select-add-option-wrapper .el-select .el-input{
    width: 100%;
}
/* 草稿箱列表 */
.draft-wrapper .el-collapse-item__wrap .el-collapse-item__content{
    padding: 0;
}
.draft-wrapper .el-collapse-item__header{
    font-size: 1em;
    color: #666;
    /* font-weight: bold; */
}
.draft-wrapper .el-collapse-item__header:hover{
    color: #333;
}
.draft-list li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    text-align: left;
    position: relative;
    font-size: 16px;
    cursor: pointer;
}
.draft-list li:hover{
    background: #ecf5ff;
    color: #409EFF;
}
.draft-list li i{
    font-size: 1.1em;
    color: #f56c6c;
    position: absolute;
    top: 18px;
    right: 40px;
    display: none;
}
.draft-list li i:hover{
    color: #fc8a8a;
}
.draft-list li:hover i{
    display: block;
}

/* 编辑博客title和内容 */
.edit-blog-wrapper-wrapper{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
.edit-blog-wrapper{
    width: 90%;
    height: auto;
    background: #fff;
    margin: 20px auto 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, .3);
}
.blog-title-wrapper{
    width: 100%;
    height: 50px;
    padding: 10px 20px 0;
    /* background: yellowgreen; */
}
.blog-title-wrapper .blog-title-form{
    width: 80%;
}

/* 富文本 */
.blog-content-wrapper{
    line-height: 20px;
    height: auto;
}