/* 整体布局 */
.second-chilren-router-wrapper{
    width: 100%;
    height: 100%;
    /* background: tan; */
    overflow-y: auto;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.second-chilren-router-wrapper.show-blog-nav{
    width: 80%;
    margin-left: 20%;
}
/* 导航栏 */
.blog-nav-wrapper{
    width: 0px;
    height: 100vh;
    background: #fff;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 4px 1px 10px 0 rgba(0, 0, 0, .3);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    /* overflow: hidden; */
}
.blog-nav-wrapper.active{
    width: 320px;
    box-shadow: 7px 0px 20px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 7px 0px 20px 0 rgba(0, 0, 0, .3);
}

/* 博客列表布局 */
.second-chilren-router-left-wrapper{
    float: left;
    width: 72%;
    height: 100%;
    /* background: #fff; */
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    overflow: hidden;
    position: relative;
}
.second-chilren-router-right-wrapper{
    float: right;
    width: 28%;
    height: 100%;
    background: yellowgreen;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.second-chilren-router-wrapper.close-user .second-chilren-router-left-wrapper{
    width: 100%;
}
.second-chilren-router-wrapper.close-user .second-chilren-router-right-wrapper{
   width: 0;
   flex: 0;
}


/* 隐藏用户信息按钮 */
.hide-user-info-btn{
    width: 20px;
    height: 30px;
    border-radius: 50% 0 0 50%;
    background: #f8f8f8;
    line-height: 30px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 0;
    box-shadow: -3px 0px 20px 0 rgba(0, 0, 0, .3);
}

/* 分块模块样式 */

/* 博客导航 */
/* 显示博客按钮按钮 */
.show-blog-nav-btn{
    width: 20px;
    height: 30px;
    line-height: 30px;
    background: #f8f8f8;
    border-radius: 0 50% 50% 0;
    box-shadow: 5px 0px 20px 0 rgba(0, 0, 0, .3);
    position: absolute;
    cursor: pointer;
    right: -20px;
    top: 100px;
}
.blog-nav{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 博客列表 */
.blog-list-wrapper{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.blog-list{
    width: 95%;
    height: auto;
    margin: 15px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, .3)
}
.blog-list .blog-item{
    width: 95%;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    border-bottom: 1px dashed #ccc;
    position: relative;
}
.blog-list .blog-item:last-child{
    border-bottom: hidden;
}
.blog-list .blog-item a{
    box-sizing: border-box;
    padding: 15px 0 5px;
    display: block;
    width: 100%;
    height: auto;
    line-height: 30px;
}
.blog-list .blog-item .blog-title{
    line-height: 30px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    color: #333;
}
.blog-list .blog-item p{
    line-height: 25px;
    text-align: left;
    margin-top: 20px;
    text-indent: 2em;
    font-size: 1em;
}
.blog-list .blog-item .blog-info-wrapper{
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    /* background: tomato; */
}
.blog-info-wrapper .blog-info{
    float: left;
    margin: 0 15px;
}
.blog-info-wrapper .blog-info:hover{
    color:#555;
}
.blog-info-wrapper .blog-info i{
    font-size: 1.2em;
    margin-right: 5px;
}
.blog-info-wrapper .blog-management{
    float: right;
    margin-right: 30px;
    width: 150px;
    height: 100%;
}
.blog-management button{
    font-size: 1.5em;
    line-height: 35px;
    padding: 0;
    margin: 0 15px;
}
.blog-management button.delete-blog{
    color: #f56c6c;
}
.blog-management button.delete-blog:hover{
    color:#fc8a8a;
}