.personnal-header{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.logo-wrapper{
    float: left;
    margin-left: 2%;
    width: 10%;
    height: 100%;
    background: url('../../img/logo.png') center center no-repeat;
    background-size: contain;
}
.nav-wrapper{
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 2%;
}
/* 搜索框 */
.search-wrapper{
    float: right;
    margin-right: 4%;
    width: 20%;
    height: 100%;
    position: relative;
    transition: all 1s ease;
}
.search-wrapper.active{
    width: 25%;
}
.search-input{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.el-select .el-input {
    width: 110px;
    font-size: 14px;
}
.input-with-select .el-input-group__prepend {
    background-color: #fff;
}

.user-center{
    height: 100%;
    float: right;
    margin-right: 4%;
    position: relative;
    
}
.user-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('./img/default-user.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-20px 0 0 -20px;
}

/* 折叠按钮 */
.header-fold-btn{
    width: 30px;
    height: 20px;
    line-height: 20px;
    font-size: bold;
    border-radius: 0 0 50% 50%;
    background: #f8f8f8;
    position: absolute;
    bottom: -20px;
    right: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 18px;
}
/* .header-fold-btn i{
    display: inline-block;
    transition: all 1s ease;
}
.header-fold-btn i.folded{
    transform: scale(.5) rotate3d(30deg,90deg,0);
} */
