.website-tab-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 550px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, .3);
}
.website-all-wrapper{
    text-align: left;
}
.website-operate-btns-wrapper{
    width: 100%;
    /* background: tomato; */
}
.website-operate-btns{
    float: right;
}
.website-operate-btns-wrapper button i{
    margin-right: 5px;
}

.wbesite-all-list-wrapper{
    width: 100%;
    height: auto;
    margin-top: 20px;
    /* padding: 20px; */
    /* background: tomato; */
}

/* 网站树 */
.website-icon-wrapper{
    display: inline-block;
    width: 20px;
    height: 20px;
}
.website-icon{
    width:100%;
    height: 100%;
}
.website-icon img{
    width: 100%;
    height: 100%;
}